<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Camera</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#FBFBFB;">


<%# -MENU- %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TFE</a>
        </div>
        <div>
            <button type="button" id="back" class="btn btn-danger btn-lg navbar-form navbar-right"><span class="glyphicon glyphicon-arrow-left"> Back</span></button>
        </div>
    </div>
</nav>


<%# -TITLE- %>
<div class="jumbotron">
    <div class="container">
        <h1>Display</h1>
        <p>Add Camera</p>
    </div>
</div>


<%# -MESSAGE- %>
<div id="message" class="container">
    <div class="row">
        <div id="message-div">
            <strong id="message-title"></strong>
            <p id="message-body"></p>
        </div>
    </div>
</div>


<%# -USER ID- %>
<p id="userID"><%= userID %></p>

<div class="container" style="text-align:center">

    <div id="info" class="container">
        <h3>Pour connecter votre nouvelle caméra à internet, veuillez brancher celle-ci au secteur</h3>
        <h3>Une fois fait, cliquez sur continuer afin d'enregistrer le nom du réseau et le mot de passe</h3>
        <br>
        <button type="button" id="infoBtn" class="btn btn-success">Continuer</button>
    </div>

    <div id="data" class="container">
        <div class="row col-lg-offset-3 col-lg-6">
            <form id="dataForm">
                <div class="form-group">
                    <label for="ssid" class="label-control">Nom du réseau : </label>
                    <input type="text" class="form-control" id="ssid" name="ssid" placeholder="par ex. B-box2.4">
                </div>
                <div class="form-group">
                    <label for="password" class="label-control">Mot de passe : </label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
            </form>
        </div>
        <div class="row" style="text-align:center;">
            <button type="button" id="dataBtn" class="btn btn-success">Afficher le QR code</button>
        </div>
    </div>

    <div id="loading" class="container">
        <h1>Merci de patientez quelques secondes..</h1>
    </div>

    <div id="qrcode" class="container">
        <h3>Veuillez placer votre caméra en face du QR code une fois la LED rouge allumée et attendre la confirmation</h3>
        <br>
        <img src="" id="imgQRCode" style="width:500px; height:500px;">
    </div>

</div>




<%# -FOOTER- %>


<script src="/public/javascripts/hostconfig.js"></script>
<script src="/public/javascripts/socket.io.js"></script>
<script src="/public/javascripts/jquery.js"></script>
<script src="/public/javascripts/functions.js"></script>
<script src="/public/javascripts/addCamera.js"></script>


</body>
</html>