<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#FBFBFB;">


<%# -MENU- %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TFE</a>
        </div>
    </div>
</nav>


<%# -TITLE- %>
<div class="jumbotron">
    <div class="container">
        <h1>Administration</h1>
        <p>Interface Administrateur</p>
    </div>
</div>


<%# -MESSAGE- %>
<div class="container">
    <div class="row">
        <div id="message-div">
            <strong id="message-title"></strong>
            <p id="message-body"></p>
        </div>
    </div>
</div>


<%# -ADMIN INTERFACE- %>>
<div id="admin" style="display: none">
    <p>Admin interface</p>
    <form id="add-camera-form">
        <label for="serial" class="control-label">Code série : </label>
        <input type="text" name="serial" id="serial">
        <label for="cameraCode" class="control-label">Code secret : </label>
        <input type="text" name="cameraCode" id="cameraCode">
    </form>
    <button id="add-camera-btn" type="button" class="btn btn-primary">Ajouter une caméra</button>
</div>


<hr>


<%# -FOOTER- %>
<footer class="container">
    <p>© 2016 Victorien Derasse</p>
</footer>


<%# -SCRIPTS- %>>
<script src="/public/javascripts/hostconfig.js"></script>
<script src="/public/javascripts/socket.io.js"></script>
<script src="/public/javascripts/functions.js"></script>
<script src="/public/javascripts/admin.js"></script>

</body>
</html>