<!DOCTYPE html>
<html lang="en">
<head>
    <title>titre</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div id="admin" style="display: none">
    <p>Admin interface</p>
</div>

<script src="/public/javascripts/hostconfig.js"></script>
<script src="/public/javascripts/socket.io.js"></script>
<script src="/public/javascripts/admin.js"></script>

</body>
</html>