<!DOCTYPE html>
<html lang="en">
<head>
    <title>Display</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#FBFBFB;">


<%# -MENU- %>
<nav class="navbar-inverse navbar-fixed-top" style="background-color:#6CB4CE;min-height: 60px;">
    <div class="container">
        <div class="navbar-header">
            <a class="" href="#"><img src="/public/images/logo.png" width="80"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="height:0.8px;">
            <div class="navbar-form navbar-right">
                <button type="button" id="disconnect-btn" title="Log Out" class="btn-menu"><span>Deconnexion</span></button>
            </div>
            <div class="navbar-form navbar-right">
                <button type="button" id="user-btn" title="User Interface" class="btn-menu"></span></button>
                <button type="button" id="multiLive-btn" title="Multi-Live" class="btn-menu"><span class="glyphicon glyphicon-blackboard"></span> Multi Live</button>
                <button type="button" id="addCamera-btn" title="Add Camera" class="btn-menu"><span class="glyphicon glyphicon-plus"></span> Ajouter une caméra</button>
            </div>
        </div>
    </div>
</nav>


<%# -TITLE- %>
<div class="jumbotron">
    <div class="container">
        <h1>Display</h1>
        <p>Interface utilisateur</p>
    </div>
</div>


<%# -MESSAGE- %>
<div class="container" id="message">
    <div class="row">
        <div id="message-div">
            <strong id="message-title"></strong>
            <p id="message-body"></p>
        </div>
    </div>
</div>


<%# -TB SCREEN- %>
<div class="container" style="display:none">
    <div>
        <table id="table-camera" class="table table-striped">
            <thead>
                <tr>
                    <th>Live</th>
                    <th>Camera Name</th>
                    <th>Start Motion Detection</th>
                    <th>Replays</th>
                    <th>Manage Planification</th>
                </tr>
            </thead>
            <tbody id="tbody-camera">
            </tbody>
        </table>
    </div>
</div>


<div id="display"></div>


<hr>





<%# -MODAL TIMER- %>
<div id="modal-timer" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="emptyTimerForm();">&times;</button>
                <h4 id ="timer-title" style="text-align:center;" class="modal-header"></h4>
            </div>
            <div class="modal-body">
                <p><b>Add new timer </b></p>
                <form id="timer-form">
                    <section class="row form-group">
                        <div id="begin" class="col-lg-offset-2 col-lg-4">
                            <label for="begin" class="control-label">Begin :</label>
                            <div class="form-group">
                                <select name="beginHour">
                                    <option value="0">00</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                </select>
                                :
                                <select name="beginMinute">
                                    <option value="0">00</option>
                                    <option value="5">05</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="55">55</option>
                                </select>
                            </div>
                        </div>
                        <div id="end" class="col-lg-offset-2 col-lg-4">
                            <label for="end" class="control-label">End :</label>
                            <div class="form-group">
                                <select name="endHour">
                                    <option value="0">00</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                </select>
                                :
                                <select name="endMinute">
                                    <option value="0">00</option>
                                    <option value="5">05</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="55">55</option>
                                </select>
                            </div>
                        </div>
                    </section>
                    <section class="row">
                        <div id="frequency" class="col-lg-offset-2 col-lg-3 form-group">
                            <label for="frequency" class="control-label">
                                Frequency :
                                <select id="frequency" name="frequency" class="form-control">
                                    <option value="1">Monday</option>
                                    <option value="2">Tuesday</option>
                                    <option value="3">Wednesday</option>
                                    <option value="4">Thursday</option>
                                    <option value="5">Friday</option>
                                    <option value="6">Saturday</option>
                                    <option value="7">Sunday</option>
                                    <option value="*">Every Day</option>
                                </select>
                            </label>
                        </div>
                        <div id="frequencyEnd" class="col-lg-offset-2 col-lg-3 form-group">
                            <label for="frequencyEnd" class="control-label">
                                Frequency End :
                                <select id="frequencyEnd" name="frequencyEnd" class="form-control">
                                    <option value="1">Monday</option>
                                    <option value="2">Tuesday</option>
                                    <option value="3">Wednesday</option>
                                    <option value="4">Thursday</option>
                                    <option value="5">Friday</option>
                                    <option value="6">Saturday</option>
                                    <option value="7">Sunday</option>
                                </select>
                            </label>
                        </div>
                    </section>
                    <section class="row">
                        <div class="form-group col-lg-offset-2">
                            <label for="timerDetection" class="control-label"> Motion detection : </label>
                            <input id="timerDetection" name="timerDetection" type="checkbox">
                        </div>
                        <div class="form-group col-lg-offset-2">
                            <label for="timerOnce" class="control-label"> Just once : </label>
                            <input id="timerOnce" name="timerOnce" type="checkbox">
                        </div>
                    </section>
                </form>
                <div id="timer-records-div">
                    <hr>
                    <p>
                        <b>Your timers</b>
                        <button id="stopRecording" type="button" title="Click to stop the running record" style="display: none;" class="btn btn-warning">Stop</button>
                    </p>
                    <table id="timer-records-table" class="table table-hover table-striped table-responsive">
                        <thead>
                            <tr>
                                <th><b>Begin</b></th>
                                <th><b>Time</b></th>
                                <th><b>End</b></th>
                                <th><b>Time</b></th>
                                <th><b>Type</b></th>
                            </tr>
                        </thead>
                        <tbody id="timer-records-tbody"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="timer-confirm-btn" type="button" class="btn btn-success" data-dismiss="modal">Accept</button>
                <button id="timer-close-btn" type="button" class="btn btn-default" data-dismiss="modal" onclick="emptyTimerForm();">Close</button>
            </div>
        </div>
    </div>
</div>


<%# -MODAL REPLAYS- %>
<div id="modal-replay" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id ="replay-title" style="text-align:center;" class="modal-header"></h4>
            </div>
            <div id="modal-body-replay" class="" style="text-align:center;">
                <div id="table-replay-div" class="col-lg-4">
                    <table id="table-replay" class="form group"></table>
                </div>
                <div id="player-replay-div" class="col-lg-8"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<%# -MODAL LIVE- %>
<div id="modal-live" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header" id="modal-header-live">
                <button type="button" id="modal-live-x" class="close" data-dismiss="modal">&times;</button>
                <h4 id ="live-title" style="text-align:center;" class="modal-header"></h4>
                <div class="container">
                    <div class="row">
                        <div id="messageLive">
                            <strong id="messageLive-title"></strong>
                            <p id="messageLive-body"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div id="live-stream"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-live-record" class="btn btn-danger">Record</button>
                <button type="button" id="modal-live-close" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<%# -MODAL CONFIG- %>
<div id="modal-config" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header" id="modal-header-live">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id ="config-title" style="text-align:center;" class="modal-header"></h4>
            </div>
            <div class="modal-body col-lg-offset-1 col-lg-10">
                <div class="form-group">
                    <label for="resolution" class="control-label">Resolution : <span id="resolutionValue"></span></label>
                    <input type="range" id="resolution" name="resolution" min="1" max="3">
                </div>
                <div class="form-group">
                    <label for="fps" class="control-label">Frame Rate : <span id="fpsValue"></span></label>
                    <input id="fps" name="fps" type="range" min="1" max="25" oninput="showFPS(this.value);">
                </div>
                <div class="form-group">
                    <label for="brightness" class="control-label">Brightness : <span id="brightnessValue"></span></label>
                    <input type="range" id="brightness" name="brightness" min="0" max="100" step="5" oninput="showBrightness(this.value);">
                </div>
                <div class="form-group">
                    <label for="contrast" class="control-label">Contrast : <span id="contrastValue"></span></label>
                    <input type="range" id="contrast" name="contrast" min="0" step="5" max="100" oninput="showContrast(this.value);">
                </div>
                <div id="preview"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-config-preview" class="btn btn-primary">Preview</button>
                <button type="button" id="modal-config-confirm" class="btn btn-success" data-dismiss="modal">Confirm</button>
                <button type="button" id="modal-live-close" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<%# -SCRIPTS- %>
<script>
    var userID = '<%=userID%>';
</script>
<script src="/public/javascripts/hostconfig.js"></script>
<script src="/public/javascripts/socket.io.js"></script>
<script src="/public/javascripts/jquery.js"></script>
<script src="/public/javascripts/functions.js"></script>
<script src="/public/javascripts/display.js"></script>

</body>
</html>