<!DOCTYPE html>
<html lang="en">
<head>
    <title>titre</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>


<%# -MENU- %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TFE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="height:0.8px;">
            <form class="navbar-form navbar-right">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add Camera <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li>
                        <div class="form-group">
                            <label for="add-camera-code" class="label-control">
                                <input id="add-camera-code" name="add-camera-code" type="text" class="form-control" placeholder="Enter your code">
                            </label>
                            <button id="add-camera-btn" type="button" class="btn btn-primary form-right">Go</button>
                        </div>
                    </li>
                </ul>
            </form>
            <form class="navbar-form navbar-right">
                <button type="button" id="disconnect-btn" class="btn btn-danger">Log Out</span></button>
            </form>
        </div>
    </div>
</nav>


<%# -TITLE- %>
<div class="jumbotron">
    <div class="container">
        <h1>Display</h1>
        <p>Interface utilisateur</p>
    </div>
</div>


<%# -USER ID- %>
<p id="userID"><%= userID %></p>


<%# -MESSAGE- %>
<div class="container">
    <div class="row">
        <div id="message-div">
            <strong id="message-title"></strong>
            <p id="message-body"></p>
        </div>
    </div>
</div>


<%# -TB SCREEN- %>
<div class="container">
    <div>
        <table id="table-camera" class="table table-striped">
            <thead>
                <tr>
                    <th>Live</th>
                    <th>Camera Name</th>
                    <th>Start Motion Detection</th>
                    <th>Replays</th>
                    <th>Manage Planification</th>
                </tr>
            </thead>
            <tbody id="tbody-camera">
            </tbody>
        </table>
    </div>
</div>


<hr>


<%# -FOOTER- %>
<footer class="container">
    <p>© 2016 Victorien Derasse</p>
</footer>


<%# -MODAL TIMER- %>
<div id="modal-timer" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="emptyTimerForm();">&times;</button>
                <h4 id="timer-title-camera" class="modal-header">Manage your timers</h4>
                <h6 id="timer-recordingInfo" class="alert alert-info" style="display: none">Your camera is recording</h6>
            </div>
            <div class="modal-body">
                <p><b>Add new timer </b></p>
                <form id="timer-form">
                    <section class="row form-group">
                        <div id="begin" class="col-lg-offset-2 col-lg-4">
                            <label for="begin" class="control-label">Begin :</label>
                            <div class="form-group">
                                <input type="text" name="beginHour"  maxlength="2" size="1" placeholder="12"/>
                                :
                                <input type="text" name="beginMinute"  maxlength="2" size="1" placeholder="30"/>
                            </div>
                        </div>
                        <div id="end" class="col-lg-offset-2 col-lg-4">
                            <label for="end" class="control-label">End :</label>
                            <div class="form-group">
                                <input type="text" name="endHour" maxlength="2" size="1" placeholder="18"/>
                                :
                                <input type="text" name="endMinute" maxlength="2" size="1" placeholder="00"/>
                            </div>
                        </div>
                        <div id="timer-camera-id-div">
                            <input id="timer-camera-id-input" type="hidden" name="cameraID">
                        </div>
                    </section>
                    <section class="row">
                        <div id="frequency" class="col-lg-offset-2 col-lg-3 form-group">
                            <label for="frequency" class="control-label">
                                Frequency :
                                <select name="frequency" class="form-control">
                                    <option value="Mon">Monday</option>
                                    <option value="Tue">Tuesday</option>
                                    <option value="Wed">Wednesday</option>
                                    <option value="Thu">Thursday</option>
                                    <option value="Fri">Friday</option>
                                    <option value="Sat">Saturday</option>
                                    <option value="Sun">Sunday</option>
                                    <option value="*">Every Day</option>
                                </select>
                            </label>
                        </div>
                    </section>
                    <div class="form-group col-lg-offset-2">
                        <label for="timer-detection" class="control-label"> Motion detection : </label>
                        <input id="timer-detection" name="detection" type="checkbox">
                    </div>
                </form>
                <div id="timer-records-div">
                    <hr>
                    <p>
                        <b>Your timers</b>
                        <button id="stopRecording" type="button" title="Click to stop the running record" style="display: none;" class="btn btn-warning">Stop</button>
                    </p>
                    <table id="timer-records-table" class="table table-hover table-striped table-responsive">
                        <thead>
                        <tr>
                            <th><b>Begin</b></th>
                            <th><b>End</b></th>
                            <th><b>Frequency</b></th>
                            <th><b>Type</b></th>
                        </tr>
                        </thead>
                        <tbody id="timer-records-tbody">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="timer-confirm-btn" type="button" class="btn btn-success" data-dismiss="modal">Accept</button>
                <button id="timer-close-btn" type="button" class="btn btn-default" data-dismiss="modal" onclick="emptyTimerForm();">Close</button>
            </div>
        </div>
    </div>
</div>


<%# -MODAL REPLAYS- %>
<div id="modal-replay" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-header">Replay</h4>
            </div>
            <div class="modal-body form-group" style="text-align:center;">
                <div id="name-camera-replay"><h3 id="h3-name-camera-replay"></h3></div>
                <div id="select-replay-div" class="col-lg-offset-3 col-lg-6 form-group"></div>
                <div id="display-replay-div"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<%# -MODAL LIVE- %>
<div id="modal-live" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header" id="modal-header-live">
                <button type="button" id="modal-live-x" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-header" id="modal-header-live-h4"></h4>
            </div>
            <div class="modal-body">
                <div id="live-stream">
                    <img src="" id="live-stream-img">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-live-close" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<%# -SCRIPTS- %>
<script src="/public/javascripts/hostconfig.js"></script>
<script src="/public/javascripts/socket.io.js"></script>
<script src="/public/javascripts/functions.js"></script>
<script src="/public/javascripts/display.js"></script>

</body>
</html>