<!DOCTYPE html>
<html>
<head>
    <title> <%= name %> </title>
</head>
<body>
    <h1><%= name %></h1>
    <p>Server !</p>


    <script src="/public/javascripts/hostconfig.js"></script>
    <script src="/public/javascripts/socket.io.js"></script>
    <script src="/public/javascripts/client.js"></script>

</body>
</html>