<!DOCTYPE html>
<html>
<head>
    <title> <%= name %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>


<%#-TITLE & MOTD-%>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TFE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="height:0.8px;">
            <form class="navbar-form navbar-right" action="/login" method="post">
                <div class="form-group">
                    <label for="email" class="control-label"><input id="email" name="email" type="text" class="form-control" placeholder="Email"></label>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label"><input id="password" name="password" type="password" class="form-control" placeholder="Password"></label>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
            <button id="signin-btn" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modal-signin">Sign In</button>
        </div>
    </div>
</nav>

<section id="titre-section" class="row jumbotron">
    <div id="titre-div" class="container"col-lg-6>
        <div>
            <p><h1 id="titre">TFE</h1></p>
            <p>Welcome to my project</p>
        </div>
        <div class="col-lg-offset-10">
            <p>
                <button id="login-btn" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-login">Login</button>
            </p>
            <p>
                <button id="signin-btn" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modal-signin">Signin</button>
            </p>
        </div>
    </div>
</section>

<section class="message-section">
    <div class="message-div">
        <p id="message"></p>
    </div>
</section>

<section class="row container">

</section>


<%#Modals Login%>
<div id="modal-login" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-header">Login</h4>
            </div>
            <div class="modal-body form-group" style="text-align:center;">
                <form id="login-form" action="/login" method="post">
                    <div class="form-group">
                        <label for="email" class="control-label">Email : <input id="email" name="email" type="text"></label>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password : <input id="password" name="password" type="password"></label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="login-confirm-btn" type="button" class="btn btn-primary" >Login</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<%#Modals signin%>
<div id="modal-signin" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-header">Signin</h4>
            </div>
            <div class="modal-body form-group" style="text-align:center;">
                <form id="signin-form" class="form">
                    <div class="form-group">
                        <label for="name" class="control-label">Name : <input id="name" name="name" type="text"></label>
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">Email : <input id="email" name="email" type="text"></label>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password : <input id="password" name="password" type="password"></label>
                    </div>
                    <div class="form-group">
                        <label for="confPassword" class="control-label">Confirm Password : <input id="confPassword" name="confPassword" type="password"></label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="signin-confirm-btn" type="button" class="btn btn-primary">Signin</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<hr>

<footer>
    <p>© 2016 Victorien Derasse</p>
</footer>


<script src="/public/javascripts/hostconfig.js"></script>
<script src="/public/javascripts/socket.io.js"></script>
<script src="/public/javascripts/client.js"></script>
<script src="/public/javascripts/index.js"></script>

</body>
</html>