<!DOCTYPE html>
<html>
<head>
    <title> TITRE </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



</head>
<body style="background-color:#FBFBFB;">

<%# -MENU- %>
<nav class="navbar-inverse navbar-fixed-top" style="background-color:#6CB4CE;min-height: 60px;">
    <div class="container">
        <div class="navbar-header">
            <a class="" href="#"><img src="/public/images/logo.png" width="80px"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="height:0.8px;">
            <div class="navbar-form navbar-right">
                <button id="signin-btn" type="button" class="btn-menu" data-toggle="modal" data-target="#modal-signin">Inscription</button>
            </div>
            <div id="login-form" class="navbar-form navbar-right">
                <div class="form-group">
                    <label for="loginEmail"></label>
                    <input id="loginEmail" name="loginEmail" type="text" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="loginPassword"></label>
                    <input id="loginPassword" name="loginPassword" type="password" class="form-control" placeholder="Password">
                </div>
                <button id="login-btn" class="btn-menu">Connection</button>
            </div>
        </div>
    </div>
</nav>


<%# -MESSAGE- %>
<div class="container" id="message" style="margin-top:60px">
    <div class="row">
        <div id="message-div">
            <strong id="message-title"></strong>
            <p id="message-body"></p>
        </div>
    </div>
</div>


<div id="intro">
    <div id="intro-text" class="col-lg-offset-6 col-lg-5" style="color:#fff; text-align:center; font-family:Averia; margin-top:130px; font-size:50px;">
        <p>Un système de vidéosurveillance complet qui plaira à votre porte-monnaie</p>
    </div>
</div>

<div id="live" class="row">
    <div class="col-lg-offset-2 col-lg-8 index-text">
        <h2>Direct</h2>
        <p>Accédez à autant de caméras que vous désirez et regardez en direct ce qu'elles filment</p>
    </div>
</div>

<div id="detection" class="row">
    <div class="col-lg-offset-2 col-lg-8 index-text">
        <h2 class="index-title">Détection de mouvements</h2>
        <p>Grâce à un système de détection de mouvement, vous serez immédiatement averti dès qu'un objet sera détecté par vos caméras. Simultanément, un enregistrement se déclenchera automatiquement</p>
    </div>
</div>

<div id="planification" class="row">
    <div class="col-lg-offset-2 col-lg-8 index-text">
        <h2>Planification</h2>
        <p>Planifiez facilement vos enregistrements. Enregistrement "en continue" ou en mode "détection de mouvements", à vous de choisir !</p>
    </div>
</div>

<hr>


<%# -FOOTER- %>
<footer class="container row">
    <div class="col-lg-offset-2 col-lg-4" style="padding-top:100px;">
        <p><h2>Nous contactez</h2></p>
        <form class="form">
            <div class="form-group">
                <label for="footer-email">Email</label>
                <input type="text" name="footer-email" id="footer-email" class="form-control">
            </div>
            <div class="form-group">
                <label for="footer-message">Votre message</label>
                <textarea id="footer-message" name="footer-message" class="form-control"></textarea>
            </div>
        </form>
        <button>Envoyer</button>
    </div>
    <div class="col-lg-offset-1 col-lg-4" style="padding-top:100px;">
        <p>© 2016 Victorien Derasse</p>
    </div>
</footer>


<%# -MODAL SIGNIN- %>
<div id="modal-signin" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-header" style="text-align:center">Inscription</h3>
            </div>
            <div class="modal-body form-group" style="text-align:center;">
                <form id="signin-form" class="form">
                    <div class="form-group">
                        <label for="signinName">Nom : </label>
                        <input id="signinName" class="form-control" name="signinName" type="text">
                    </div>
                    <div class="form-group">
                        <label for="signinEmail">Email : </label>
                        <input id="signinEmail" class="form-control" name="signinEmail" type="text">
                    </div>
                    <div class="form-group">
                        <label for="signinPhone">Téléphone : </label>
                        <input id="signinPhone" class="form-control" name="signinPhone" type="text">
                    </div>
                    <div class="form-group">
                        <label for="signinPassword">Mot de passe : </label>
                        <input id="signinPassword" class="form-control" name="signinPassword" type="password">
                    </div>
                    <div class="form-group">
                        <label for="signinPasswordConf">Confirmer le mot de passe : </label>
                        <input id="signinPasswordConf" class="form-control" name="signinPasswordConf" type="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="signin-confirm-btn" type="button" class="btn btn-primary" data-dismiss="modal">Continuer</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<%# -SCRIPTS- %>
<script src="/public/javascripts/hostconfig.js"></script>
<script src="/public/javascripts/socket.io.js"></script>
<script src="/public/javascripts/jquery.js"></script>
<script src="/public/javascripts/functions.js"></script>
<script src="/public/javascripts/index.js"></script>

</body>
</html>