<!DOCTYPE html>
<html>
<head>
    <title> TITRE </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#FBFBFB;">

<%# -MENU- %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TFE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="height:0.8px;">
            <div class="navbar-form navbar-right">
                <button id="signin-btn" type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-signin">Inscription</button>
            </div>
            <div id="login-form" class="navbar-form navbar-right">
                <div class="form-group">
                    <label for="loginEmail" class="control-label"><input id="loginEmail" name="loginEmail" type="text" class="form-control" placeholder="Email"></label>
                </div>
                <div class="form-group">
                    <label for="loginPassword" class="control-label"><input id="loginPassword" name="loginPassword" type="password" class="form-control" placeholder="Password"></label>
                </div>
                <button id="login-btn" class="btn btn-primary">Connection</button>
            </div>
        </div>
    </div>
</nav>


<%# -TITLE- %>
<div id="titre-section" class="jumbotron">
    <div class="container">
        <h1 id="titre">TFE</h1>
        <p>Bienvenue sur la page d'accueil de mon Travail de fin d'étude</p>
        <p>Ce projet est en cours de développement</p>
    </div>
</div>


<%# -MESSAGE- %>
<div class="container" id="message">
    <div class="row">
        <div id="message-div">
            <strong id="message-title"></strong>
            <p id="message-body"></p>
        </div>
    </div>
</div>


<%# -INFO PROJET- %>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2>Live</h2>
            <p>Regardez en direct ce que filment vos caméras. Accédez à autant de caméras que vous souhaitez avoir</p>
        </div>
        <div class="col-lg-4">
            <h2>Détection de mouvements</h2>
            <p>Grâce à un système de détection de mouvement, vous serez avertie immédiatement dès qu'un objet sera détecter par vos caméras. Aussi, un enregistrement se déclenchera automatiquement</p>
        </div>
        <div class="col-lg-4">
            <h2>Planification</h2>
            <p>Planifier vos enregistrement facilement. Enregistrement en continue ou en mode détection de mouvement, à vous de choisir !</p>
        </div>
    </div>
</div>


<hr>


<%# -FOOTER- %>
<footer class="container">
    <p>© 2016 Victorien Derasse</p>
</footer>


<%# -MODAL SIGNIN- %>
<div id="modal-signin" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-header" style="text-align:center">Inscription</h3>
            </div>
            <div class="modal-body form-group" style="text-align:center;">
                <form id="signin-form" class="form">
                    <div class="form-group">
                        <label for="signinName">Nom : </label>
                        <input id="signinName" class="form-control" name="signinName" type="text">
                    </div>
                    <div class="form-group">
                        <label for="signinEmail">Email : </label>
                        <input id="signinEmail" class="form-control" name="signinEmail" type="text">
                    </div>
                    <div class="form-group">
                        <label for="signinPassword">Mot de passe : </label>
                        <input id="signinPassword" class="form-control" name="signinPassword" type="password">
                    </div>
                    <div class="form-group">
                        <label for="signinPasswordConf">Confirmer le mot de passe : </label>
                        <input id="signinPasswordConf" class="form-control" name="signinPasswordConf" type="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="signin-confirm-btn" type="button" class="btn btn-primary" data-dismiss="modal">Continuer</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<%# -SCRIPTS- %>
<script src="/public/javascripts/hostconfig.js"></script>
<script src="/public/javascripts/socket.io.js"></script>
<script src="/public/javascripts/jquery.js"></script>
<script src="/public/javascripts/functions.js"></script>
<script src="/public/javascripts/index.js"></script>

</body>
</html>