<!DOCTYPE html>
<html lang="en">
<head>
    <title>Multi-Live</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#FBFBFB;">

<%# -MENU- %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TFE</a>
        </div>
        <div>
            <button type="button" id="back" class="btn btn-danger btn-lg navbar-form navbar-right"><span class="glyphicon glyphicon-arrow-left"> Back</span></button>
        </div>
    </div>
</nav>


<%# -USER ID- %>
<p id="userID"><%= userID %></p>


<%# -MESSAGE- %>
<div id="message" class="container" style="margin-top:100px">
    <div class="row">
        <div id="message-div">
            <strong id="message-title"></strong>
            <p id="message-body"></p>
        </div>
    </div>
</div>


<%# -MULTI LIVE INTERFACE- %>>
<div id="multiLive"></div>


<hr>





<%# -SCRIPTS- %>>
<script src="/public/javascripts/hostconfig.js"></script>
<script src="/public/javascripts/socket.io.js"></script>
<script src="/public/javascripts/jquery.js"></script>
<script src="/public/javascripts/functions.js"></script>
<script src="/public/javascripts/multiLive.js"></script>


</body>
</html>