<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Camera</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#FBFBFB;">


<%# -MENU- %>
<nav class="navbar-inverse navbar-fixed-top" style="background-color:#6CB4CE;min-height: 60px;">
    <div class="container">
        <div class="navbar-header">
            <a class="" href="#"><img src="/public/images/logo.png" width="70px"></a>
        </div>
        <div>
            <button type="button" id="back" class="btn-menu navbar-form navbar-right"><span class="glyphicon glyphicon-arrow-left"></span> Retour</button>
        </div>
    </div>
</nav>


<%# -TITLE- %>
<div class="jumbotron">
    <div class="container">
        <h1>Magasin</h1>
        <p></p>
    </div>
</div>


<%# -MESSAGE- %>
<div id="message" class="container">
    <div class="row">
        <div id="message-div">
            <strong id="message-title"></strong>
            <p id="message-body"></p>
        </div>
    </div>
</div>

<div style="text-align:center;">
<a id="magasinBtn" class="purchaseBtnSelected" style="padding-right:10px;">Magasin</a>
<a id="cmd" class="purchaseBtn" style="border-left: 1px solid #000; padding-left:10px;">Mes commandes</a>
</div>

<div id="magasin">

<%# -LA LISTE DES PRODUITS- %>
<div class="container" id="product-list">
    <div class="row">
        <div>
            <h3>Total : <span id="total">0.00</span> €</h3>
        </div>
        <div class="col-lg-offset-10 col-lg-2">
            <button type="button" id="confirm-order" class="btn btn-success btn-lg">Continuer</button>
        </div>
    </div>
    <div class="row">
        <table class="table" style="background-color: #fff;">
            <thead>
            <tr>
                <td></td>
                <td><b>Produit</b></td>
                <td><b>Description</b></td>
                <td><b>Prix unitaire</b></td>
                <td><b>Stock</b></td>
                <td><b>Quantité</b></td>
                <td><b>Total</b></td>
            </tr>
            </thead>
            <tbody id="table-product-list"></tbody>
        </table>
    </div>

</div>


<%# -RESUMER DE LA COMMANDE- %>
<div class="container" id="order-bill" style="display: none;">
    <div class="row">
            <div class="row">
                <div class="col-lg-6">
                    <h2 style="text-decoration:underline;">Votre commande</h2>
                </div>
                <div class="col-lg-offset-2 col-lg-4">
                    <button id="confirm-bill" class="btn btn-lg btn-success">Confirmer</button>
                    <button id="continue-bill" class="btn btn-lg btn-primary">Continuer mes achats</button>
                </div>
            </div>
            <div id="orderReview" style="border-style:outset; text-align:center; padding-top: 20px;"></div>
    </div>
</div>


<%# -INTERFACE DE PAIEMENTS- %>
<div class="container" id="buy-interface" style="display: none;">
    <div class="row">
        <h2>Paiement</h2>
        <p>Interface de paiement</p>
        <button id="buy-confirm">Confirmer</button>
        <button id="buy-later">Annuler</button>
    </div>
</div>


</div>

<%# -HISTORIQUE DES COIMMANDES- %>
<div class="container" id="order-list" style="display: none;">
    <div class="row">
        <h3>Mes commandes</h3>
    </div>
    <hr>
    <div class="row" style="font-weight:bold; text-align: center; font-size:15px">
        <div class="col-lg-2">
            <p>ID de la commande</p>
        </div>
        <div class="col-lg-3">
            <p>Prix</p>
        </div>
        <div class="col-lg-2">
            <p>Etat de la commande</p>
        </div>
        <div class="col-lg-3">
            <p>Date de la commande</p>
        </div>
        <div class="col-lg-2">
            <p>Plus d'info</p>
        </div>
    </div>
    <div id="orderList" class="container" style="text-align:center;"></div>
</div>


<script src="/public/javascripts/hostconfig.js"></script>
<script src="/public/javascripts/socket.io.js"></script>
<script src="/public/javascripts/jquery.js"></script>
<script src="/public/javascripts/functions.js"></script>
<script src="/public/javascripts/purchase.js"></script>



</body>
</html>