<!DOCTYPE html>
<html lang="en">
<head>
    <title>User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#FBFBFB;">


<%# -MENU- %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TFE</a>
        </div>
        <div>
            <button type="button" id="back-multiLive" class="btn btn-danger btn-lg navbar-form navbar-right"><span class="glyphicon glyphicon-arrow-left"> Back</span></button>
        </div>
    </div>
</nav>


<%# -TITLE- %>
<div class="jumbotron">
    <div class="container">
        <h1>Display</h1>
        <p>Interface utilisateur</p>
    </div>
</div>


<%# -MESSAGE- %>
<div class="container">
    <div class="row">
        <div id="message-div">
            <strong id="message-title"></strong>
            <p id="message-body"></p>
        </div>
    </div>
</div>


<%# -USER ID- %>
<p id="userID"><%= userID %></p>

    <h1>USER PAGE</h1>


<div id="displayUser" class="container row">
    <button type="button" onclick="displayForm();">Update Info</button>
    <div id="infoUser" class="col-lg-8">
        <p><b id="userName"></b></p>
        <p><b id="userEmail"></b></p>
        <p><b id="userPhone"></b></p>
    </div>
    <div id="infoCamera" class="col-lg-4">
        <table id="cameraList"></table>
    </div>
</div>

<div id="displayForm" class="container row" style="display:none;">
    <div class="form-control">
        <label class="control-label" for="name"><input type="text" id="name" name="name"></label>
    </div>
    <div class="form-control">
        <label class="control-label" for="email"><input type="text" id="email" name="email"></label>
    </div>
    <div class="form-control">
        <label class="control-label" for="phone"><input type="text" id="phone" name="phone"></label>
    </div>
    <div class="form-control">
        <label class="control-label" for="password"><input type="text" id="password" name="password"></label>
    </div>
    <div class="form-control">
        <label class="control-label" for="passwordConf"><input type="text" id="passwordConf" name="passwordConf"></label>
    </div>
    <button type="button" onclick="updateUser();"></button>
</div>


<%# -FOOTER- %>
<footer class="container">
    <p>© 2016 Victorien Derasse</p>
</footer>

<script src="/public/javascripts/hostconfig.js"></script>
<script src="/public/javascripts/jquery-3.2.1.js"></script>
<script src="/public/javascripts/socket.io.js"></script>
<script src="/public/javascripts/functions.js"></script>
<script src="/public/javascripts/user.js"></script>


</body>
</html>