body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login-signin-btn{
  position: absolute;
}

.addCameraBtn{
  margin: 50 px
}

.camera-disable{
  background-color: #F1C4C4;
}

th, td {
  border-bottom: 3px solid #ffffff;
}

.sizeImg{
  width:25%;
}

.img-multiLive{
  width:95%;
  height:95%;
  padding-left:5%;
}

.btn-multiLive{
  width:50%;
  margin:3%;
}

.camera-display{
  margin-top:3%;
}

